<!-- The header of every pages -->

<div class="header_cpt">
  <div
    routerLink="home"
    style="font-size: 25px; font-weight: bold; cursor: pointer"
  >
    HorStore
  </div>
  <div>
    <form class="example-form">
      <mat-form-field class="wifhs">
        <input
          type="text"
          placeholder="Search something ..."
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          #searchInput
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async | slice : 0 : 5"
            [value]="option"
            (click)="search2(option)"
          >
            <span>{{ option }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-button (click)="search2(searchInput.value)">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>

  <div style="margin-right: 20px">
    <span class="dropup2">
      <a routerLink="favorite" class="dropbtn2">
        <button class="transp_btn">
          <mat-icon
            style="z-index: 3"
            [matBadge]="favNumber"
            [matBadgeHidden]="!favNumber"
            matBadgeColor="warn"
            ><i class="fa-regular fa-heart" style="font-size: 35px"></i>
          </mat-icon>
        </button>
      </a>
      <div class="hide_man2"></div>
      <div class="dropup-content2">
        <div *ngIf="favorite.items.length" class="flex_cart">
          <div class="title_cart">
            Favorite | {{ favorite.items.length }} items
          </div>
          <div *ngFor="let item of favorite.items" class="grid_container">
            <img class="item2" [src]="item.product" />
            <div class="item3">
              <br /><br /><span
                ><b>{{ item.name }}</b></span
              ><br />
            </div>
            <div class="item4">{{ item.price | currency }}</div>
          </div>
          <div class="notice_info">
            <i class="fa-solid fa-circle-info"></i>
            <p>All your favorites are saved here!</p>
          </div>
          <div class="bottom_sticky bg-white">
            <div class="flex_2_hor">
              <button (click)="onDeleteFavorites()" class="transp_btn">
                <i
                  class="fa-solid fa-cart-shopping"
                  style="
                    color: rgb(219, 4, 4);
                    font-size: 50px;
                    margin-left: 10px;
                  "
                ></i>
              </button>
              <button
                [routerLink]="['favorite']"
                routerLinkActive="router-link-active"
                class="transp_btn"
              >
                <i
                  class="fa-solid fa-cart-shopping"
                  style="
                    color: rgb(133, 219, 4);
                    font-size: 50px;
                    margin-right: 40px;
                  "
                ></i>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!favorite.items.length" class="text_align">
          <div>Your favorite is empty</div>
          <div>
            <button class="btn_checkout" routerLink="/home">
              Start Shopping
            </button>
          </div>
        </div>
      </div>
    </span>

    <span class="dropup">
      <a routerLink="cart" class="dropbtn">
        <button class="transp_btn">
          <mat-icon
            style="z-index: 3"
            [matBadge]="itemsQuantity"
            [matBadgeHidden]="!itemsQuantity"
            matBadgeColor="warn"
            ><i class="fa-solid fa-cart-shopping" style="font-size: 35px"></i>
          </mat-icon>
        </button>
      </a>
      <div class="hide_man"></div>
      <div class="dropup-content">
        <div *ngIf="cart.items.length" class="flex_cart">
          <div class="title_cart">Cart | {{ cart.items.length }} items</div>
          <div *ngFor="let item of cart.items" class="grid_container">
            <img class="item2" [src]="item.product" />
            <div class="item3">
              <span>{{ item.category }}</span
              ><br />
              <span class="truncate">{{ item.name }}</span>
              <span><b>Size:</b> 32</span><br />
              <span><b>Quantity:</b> {{ item.quantity }}</span
              ><br />
              <p style="text-align: center">
                <button class="transp_btn" (click)="onAddtoFavorite(item)">
                  <i class="fa-regular fa-heart"></i>
                </button>
                <button class="transp_btn" (click)="onRemoveFromCart(item)">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </p>
            </div>
            <div class="item4">{{ item.price | currency }}</div>
          </div>
          <div *ngIf="shipping(cart.items)" class="notice_info">
            <i class="fa-solid fa-circle-info"></i>
            <p>
              If your bag is over 29,90 € you will qualify for free shipping.
              For Plus members, it's always free.
            </p>
          </div>
          <div class="bottom_sticky bg-white">
            <div class="flex_2_hor border_2 fontSIZE">
              <span>Shipping: </span>
              <span>{{ shipping(cart.items) | currency }}</span>
            </div>
            <div class="flex_2_hor fontSIZE">
              <span>Total: </span>
              <span>{{ getTotal(cart.items) | currency }}</span>
            </div>
            <div class="flex_2_hor">
              <button (click)="onDeleteCart()" class="transp_btn">
                <i
                  class="fa-solid fa-cart-shopping"
                  style="
                    color: rgb(219, 4, 4);
                    font-size: 50px;
                    margin-left: 10px;
                  "
                ></i>
              </button>
              <button routerLink="cart" class="transp_btn">
                <i
                  class="fa-solid fa-cart-shopping"
                  style="
                    color: rgb(133, 219, 4);
                    font-size: 50px;
                    margin-right: 40px;
                  "
                ></i>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!cart.items.length" class="text_align">
          <div>Your cart is empty</div>
          <div>
            <button class="btn_checkout" routerLink="/home">
              Start Shopping
            </button>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>

<div class="navbar" *ngIf="category1">
  <div class="subnav" *ngFor="let class1 of category1; let j = index">
    <!--     <button class="subnavbtn" (click)="navigateAndExecuteChangeCategory(class1)">{{ class1 }}</button>
 -->
    <button class="subnavbtn" (click)="changeCategory2(class1)">
      {{ class1 }}
    </button>
  </div>
</div>
